
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /wordcamp-praha-2018/2-themosis/htdocs/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /wordcamp-praha-2018/2-themosis/htdocs/index.php [L]
</IfModule>

# END WordPress
